/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap'); */


button:hover {
    cursor: pointer;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.remote-cursor::after {
  content: "";
  display: inline-block;
  width: 2px;
  background: red;
  height: 100%;
}

.remote-cursor-label::after {
  content: "👤";
  color: red;
  margin-left: 2px;
  font-size: 0.75rem;
}
