.animated-text {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  /* Apply the animation here */
  animation: hue 5s infinite linear;
  -webkit-animation: hue 5s infinite linear;
}

.animated-text h1 {
  font-size: 12rem;
  font-family: "Noto Sans", sans-serif;
  background-image: linear-gradient(45deg, #ff5847 20%, #c27eec 84%, #9177ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  
}

/* Fix hue rotation */
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}


/* Fix subtext & button positioning */
.contentWrapper {
  gap: 2rem;
  margin-top: 2rem; /* Controls spacing properly */
}

.subtext {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff80;
  margin-bottom: 2rem; /* Space before buttons */
  text-align: center;
}
.gifContainer {
  display: flex;
  justify-content: center;
  margin: 0;
}

.animatedGif {
  height: 20vh; /* Adjust size as needed */
  width: auto;
  margin: 0;
}


.joinRoomButton {
  margin-top: 1rem;
  background-color: #7b2cbf;
  color: white;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0 4px 34px rgba(123, 44, 191, 0.5);
}
