.gradientCanvas {
  position: fixed; /* Stays fixed while scrolling */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Canvas stays behind everything */
  pointer-events: none; /* Ensures mouse events pass through */
}

.mainContainer {
  position: relative; /* Ensures content is above canvas */
  z-index: 1; /* Higher z-index than canvas */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6rem;
  align-items: center;
  text-align: center;
  width: 100%;
}

.subtext {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff80;
  margin-bottom: 1.5rem;
}

.joinRoomButton {
  background-color: #7b2cbf;
  color: white;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0 4px 34px rgba(123, 44, 191, 0.5);
}
